.form_main{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_main .inner{
    width: 40%;
    height: auto;
    padding: 1rem;
}
.form_main .inner form{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
}

.form_main .inner form label{
    font-size: 17px;
}
.form_main .inner form input{
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(147, 144, 144);
    margin-bottom: 2rem;
    margin-top: .4rem;
    padding: .3rem 0rem;
}
.form_main .inner form button{  
    border: none;
    outline: none;
    background-color: rgb(22, 113, 156);
    border-radius: 5px;
    padding: .5rem 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: white;
    width: 120px;
    cursor: pointer;
}
.error_msg{
    padding: .3rem;
    width: 100%;
    background-color: rgb(232, 195, 191);
    border: 1px solid red;
    border-radius: 4px;
    margin-bottom: 2rem;
}


/* LOADING COMPONENT */
.loading{
    position: fixed;
    top: 0;

    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: 11;
}
.loader_inner{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}





/* RESPONSIVE STYLING */
@media screen and (max-width: 600px){
    .form_main .inner{
        width: 60%;
    }
}
@media screen and (max-width: 350px){
    .form_main .inner{
        width: 70%;
    }
}