.card_main{
    width: 100%;
    min-height: calc(100vh - 50px);
    background-color: rgb(243, 245, 247);
}
.card_main .user_intro{
    width: 100%;
    height: auto;
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid yellow;
    background-color: white;
}
.card_main .user_intro .avatar{
    width: 50px;
    height: 50px;
    background-color: rgb(22, 113, 156);
    margin-bottom: 1rem;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
}
.card_main .user_intro h2{
    font-weight: 500;
}
.card_main .user_details{
    width: 100%;
    height: auto;
    padding: 1rem 0rem;
}
.card_main .user_details .top{
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
.card_main .user_details .top .date{
    width: 250px;
    padding: .4rem 0rem;
    text-align: center;
    border: .5px solid rgb(184, 182, 182);
    background-color: white;
}
.card_main .user_details .top #profile{
    outline: none;
    border: none;
    background-color: rgb(22, 113, 156);
    color: white;
    border-radius: 4px;
    padding: .5rem 1rem;
    cursor: pointer;
    margin-left: 1rem;
}
.card_main .user_details .low{
    width: 90%;
    overflow-x: auto;
    margin: 0 auto;
    margin-top: 1rem;
}
.card_main .user_details .low table{
    width: 100%;
    height: auto;
    text-align: center;
    min-width: 900px;
    overflow-x: auto;
}
.card_main .user_details .low table, tr, td, th{
    border: .5px solid silver;
    border-collapse: collapse;
    padding: .5rem 1rem;
}
.card_main .user_details .low table th{
    background-color: rgb(22, 113, 156);
    color: white;
    font-weight: 500;
}



/* TOGGLE BUTTON */
.toggle .switch{
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
    margin-top: .4rem;
}
.toggle .switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.toggle .switch .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(142, 151, 155);
    -webkit-transition: .4s ease;
    transition: .4s ease;
    border-radius: 34px;
}
.toggle .switch .slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s ease;
    transition: .4s ease;
    border-radius: 50%;
}
.toggle .switch input:checked + .slider{
    background-color: rgb(22, 113, 156);
}
.toggle .switch input:focus + .slider{
    box-shadow:  0 0 1px rgb(22, 113, 156);
}
.toggle .switch input:checked + .slider:before{
    -webkit-transform: translateX(33px);
    -ms-transform: translateX(33px);
    transform: translateX(33px);
}



.update_profile_layout{
    position: fixed;
    top: -100%;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 12;
    transition: all .3s ease;
}
.update_profile_layout_active{
    top: 50px;
    bottom: 0;
}

.leave_layout{
    position: fixed;
    top: -100%;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 12;
    transition: all .3s ease;
}
.leave_layout_active{
    top: 50px;
    bottom: 0;
}


@media screen and (max-width: 900px){
    .card_main .user_details .low{
        width: 96%;
    }
    .card_main .user_details .top{
        width: 96%;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 700px){
    .card_main .user_details .low{
        width: 96%;
    }
    .card_main .user_details .top{
        flex-direction: column;
    }
    .card_main .user_details .top{
        flex-direction: column;
    }
    .card_main .user_details .top #profile{
        margin-top: 2rem;
    }
    .card_main .user_details .top .toggle{
        margin-top: 2rem;
    }
}