.update_main{
    width: 100%;
    height: 100%;
    padding: 1rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.update_main .inner{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.update_main form{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.update_main form label{
    margin-bottom: .2rem;
}
.update_main form input{
    width: 100%;
    padding: .3rem .0rem;
    border: none;
    border-bottom: .5px solid rgb(147, 144, 144);
    margin-bottom: 2rem;
    outline: none;
}
.update_main form .btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.update_main form button{
    border: none;
    outline: none;
    background-color: rgb(22, 113, 156);
    border-radius: 5px;
    padding: .5rem 2rem;
    margin-top: 1rem;
    color: white;
    width: 150px;
    cursor: pointer;
}
#goback{
    background-color: rgb(94, 113, 113);
}
.update_main .inner .error_msg{
    padding: .3rem;
    width: 100%;
    background-color: rgb(232, 195, 191);
    border: 1px solid red;
    border-radius: 4px;
    margin-bottom: 2rem;
}