*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
:root{
  --logo_color: #00A599;
  --box_shadow: .5px .5px 10px .5px rgba(0, 0, 0, 0.3);
}
.navlink{
  text-decoration: none;
  color: black;
}
ul{
  list-style: none;
}
